* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
     font-size: 62.5%; /*default 16px 1rem = 10px  */
}

body {
    background-color: #fff;
    font-family: 'Josefin Sans';
    font-weight: 700;
    line-height: 2;
}
 li{
    list-style-type: none;
    cursor: pointer;
    font-size: 1.6rem;
    
}

a {
    text-decoration: none;
    color: #fff;
}
svg {
    height: 1.25rem;
    width: 1.25rem;
    color: red;
}

.header-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.topbar {
    top: 0;
    left: 0;
    z-index: 900;
    height: 5rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    color: #fff;
    letter-spacing: 0.2rem;
}



.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5rem;
    margin-left: 5rem;
    position: relative;
    height: inherit;
}

.topbar-row {
    display: flex;
    justify-content: space-around;
    height: 2rem;
    margin: auto;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
}

/* /////////Topbar LEFT styling /////////*/

.topbar-left {
    display: flex;
    width: 20%;
    justify-content: space-around;
    justify-items: center;
    padding-left: 2rem;  
    align-self: center;
  
}
.email {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    
}
.email__icon {
    height: 1.25rem;
    width: 1.25rem;
    
}

.email__address {
    cursor: pointer;
}

/*///////// Top bar center styling /////////*/

.topbar-center {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    cursor: pointer;
    
}


/*/////////Top bar right styling/////////*/
.topbar-right {
    display: flex;
    width: 10%;
    justify-content: space-evenly;
    cursor: pointer;
    
}
.facebook,
.instagram,
.telegram {
    padding-top: 0.3rem;
}

/*///////////////////*/
/* NAVBAR section styling///////// */

.nav {
   top: 5rem;
    left: 0;
    z-index: 900;
    height: 7rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    color: #fff;
    letter-spacing: 0.2rem;
}

.nav__container {
    display: flex;
    justify-content: space-around;
    height: inherit;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    
    
}
.nav__logo__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.nav__logo__img {
    height: 12rem;
    width: 12rem;

}
.nav__logo__text {
    width: 20rem;
    font-size: 2.9rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav__list__container {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 30rem;
    text-decoration: none;
    
}
.mega__menu {
    height: 4rem;
    width: 62%;
    display: flex;
    align-items: center;
    justify-content:space-between; 
    text-decoration: none;
    
}


/* /////////////MEGA MENU */

.mega__menu__home {
    text-decoration: none;
    color: #fff;
}
.mega__submenu__border{
    height: 2;
    width: 100%;
    background-color: black;
}

.mega__submenu__container {
position: absolute;
width: 60%;
height: auto;
top: 6rem;
left: 20%;
background-color: rgba(8, 1, 1, 0.8);
visibility: hidden;
}

.mega__submenu__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 26rem;
    width: 100%;
}

.mega__submenu--left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 50%;
    align-items: center;
    list-style: none;
}
.mega__left__list {
display: flex;
flex-direction: column;
justify-content: space-between;
align-content: center;
width: 100%;
}

.mega__menu__ancor {
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    width: 100%;
}

.mega__submenu--middle {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 70%;
    align-items: center;
}

.mega__submenu--right {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 90%;
    align-items: center;
}

.mega__location__submenu--list{
    display: flex;
    flex-direction: column;
    
    height: 4rem;
    width: 25rem;
    margin-right: 12px;
}

.mega__location--list {
    width: 100%;
    align-content: center;
    
}
.menu__location__img {
width: 6rem;
height: 6rem;
}

a {
    background: transparent;
}


.mega__submenu__container{
    background: rgba(0, 0, 0, 0.12);
}
/* ///////////Carousel imgaes */

.carousel__img {
    height: 100vh;
    width: 100%;
}



/* Search filteration section styling */


.search__filter {
    width: 100%;
    height: 20rem;
    
}

.search__filter__form {
padding: 3rem 1rem 1rem;
margin: -25rem 3.5rem 5rem;
font-size: 1.6rem;
font-family: "Josefin Sans";
color: #0a0a0a;
height: 18rem;
position: relative;
z-index: 1000;
background: rgba(0, 0, 0, 0.47); 
display: flex;
justify-content: center;
}

fieldset {
    width: 112rem;
    height: 13rem;
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 3vw);
    grid-gap: 2rem;
    padding: 1rem;
    
}

input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    font: inherit;
    color: inherit;
}

.row-1-of-2 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}

.row-1-of-3 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}
.row-1-of-4 {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
}
.row-2-of-1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}
.row-2-of-2 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}
.row-2-of-3 {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}
.row-2-of-4 {
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
}
.input-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    
}

.form-control {
    width: 100%;
    height: inherit;
    background: #f3f3f3;
    padding: 0.6rem 3rem 0.6rem 1.2rem;
}

.input-icon {
    width: 4rem;
    height: inherit;
    background-color: grey;
    
}

.filter-btn-search {
    width: 100%;
    background-color: white;
}
svg {
    fill: rgb(221, 65, 99);
}

figcaption {
    position: absolute;
    width: 100%;
    height: 27rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1200;
}

.slider-detail {
    width: 80rem;
    padding: 2.5rem;
    position: relative;
}

.slider-detail-city--ancor {
    
    height: 2.8rem;
    width: 100%;
}

.slider-details-location {
    font-size: 14px;
    font-weight: 800;
    color: #fff;
}

.slider-location-icon {
height: 1.4rem;
width: 1.4rem;
fill: rgb(221, 65, 99);
}

h1 {
    font-size: 7rem;
    font-weight: 700;
    font-family: 'Montserrat', 'Asiyah Script', sans-serif;
    line-height: 7rem;
    margin: 0 0 5px 0;
    letter-spacing: -2px;
}

.slider-details-ul {
margin: 15px 0 15px 0;
display: flex;
}

.slider-details-li {
    margin-right: 5rem;
    font-size: 1.6rem;
    color: white;
}

.location__icon {
width: 4rem;
height: 4rem;
}

