
:root {
    --color-primary: #eb2f64
    --color-primary-light: #ff3366
    --color-primary-dark: #ba265d

    --color-grey-light : #f9f9f9
    --color-grey-medium : #f3f3f3
    --color-grey-dark: #222
    --grey-dark-1: #252627
    --grey-dark-2: #
}    
